# -------------------------------------
# Default
# -------------------------------------
__pycache__/
.mypy_cache/
/.coverage
/.coverage.*
/.nox/
/.python-version
/.pytype/
/dist/
/docs/_build/
/src/*.egg-info/
.venv

# -------------------------------------
# IDE settings
# -------------------------------------
.vscode/
.idea/
.theia/

# -------------------------------------
# Config files
# -------------------------------------
.env
*.env
.ini
*.ini
*.log

# -------------------------------------
# Misc Stuff
# -------------------------------------
.DS_Store
*.tmp
*.temp
OLD-*.*
_temp_*.*
nuke*.*
libs/*

# -------------------------------------
# Exceptions -- we want to track these files
# -------------------------------------
!pytest.ini
